// 字体尺寸
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-weight-bold: 500;

$border-radius-xs: 6px;
$border-radius-sm: 14px;
$border-radius-md: 20px;
$border-radius-lg: 26px;
$border-radius-max: 50%;

// 间距
$padding-base: 4px;
$padding-xs: 6px;
$padding-ms: 8px;
$padding-sm: 12px;
$padding-md: 15px;
$padding-lg: 20px;
$padding-xl: 25px;

// 状态栏高度
$status-bar: var(--status-bar-height);
